.database-manage,
.events {
    width: 100%;
    background-color: #222324;
    padding: 0px 16px;
    display: flex;
    flex: 1;
    .database-left,
    .events-left {
        width: 200px;
        border-right: 1px solid #1c1d1e;
        padding: 16px;
        padding-left: 0;
        .ant-input-search {
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.25);
            margin-bottom: 16px;
            .anticon-search {
                color: rgba(255, 255, 255, 0.45);
            }
            .ant-btn {
                border: none;
                background-color: transparent;
            }
        }
        .ant-input {
            color: rgba(255, 255, 255, 0.25);
            background-color: transparent;
            border: none;
        }
        .ant-input-group-addon {
            background-color: transparent;
        }
        .ant-tree {
            color: rgba(255, 255, 255, 0.85);
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            background: transparent;
        }
        .ant-tree-node-content-wrapper {
            display: flex;
            line-height: 32px;
            .ant-tree-title {
                flex: 1;
            }

            .ant-tree-iconEle {
                height: 32px;
                line-height: 32px;
            }
        }
        .tree-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        // .ant-tree-treenode-selected {
        //     border-radius: 8px;
        //     background: rgba(34, 85, 255, 0.15) !important;
        // }
        .ant-tree-node-selected {
            border-radius: 8px;
            background: rgba(34, 85, 255, 0.15);
            color: #25f;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
        }
    }

    .database-right,
    .events-right {
        flex: 1;
        padding: 16px 24px;
    }
    .database-table-header {
        display: flex;
        margin-bottom: 15px;
        .table-header-right {
            margin-left: 120px;
        }
    }
    .table-header-title {
        display: flex;
        color: rgba(255, 255, 255, 0.85);
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 12px;
        .ant-typography {
            display: flex;
            align-items: end;
            margin-left: 8px;
            color: rgba(255, 255, 255, 0.45);
            font-size: 14px;
            line-height: 14px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 4px;
        }
    }
    .table-header-desc {
        color: rgba(255, 255, 255, 0.45);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        .ant-typography {
            display: inline-block;
            margin-left: 8px;
            color: rgba(255, 255, 255, 0.45);
            font-size: 14px;
            line-height: 14px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 4px;
        }
    }
    .ant-table-wrapper {
        margin-left: -15px;
    }
}
.documents {
    width: 100%;
    .db3-label {
        color: rgba(255, 255, 255, 0.85);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
    }
    .db3-space {
        display: flex;
        align-items: center;
        justify-content: center;
        .ant-input {
            margin: 0 18px;
        }
    }
}
.ant-tabs-tabpane {
    width: 100%;
}
.tree-dropdown {
    .ant-dropdown-menu {
        border-radius: 4px;
        background: #2b2c2d;

        box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),
            0px 6px 16px 0px rgba(0, 0, 0, 0.08),
            0px 3px 6px -4px rgba(0, 0, 0, 0.12);
        .ant-dropdown-menu-item {
            color: rgba(255, 255, 255, 0.85);
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 157.143% */
        }
        .ant-dropdown-menu-item-active {
            background-color: rgba(255, 255, 255, 0.08) !important;
        }
    }
}
