.request-test-token-modal {
    .ant-modal-body {
        padding-top: 32px !important;
    }
    .ant-typography {
        background-color: #1c1d1e;
        color: rgba(255, 255, 255, 0.85);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        padding: 16px;
    }
}
