.desc-box {
    padding: 24px 32px;
    color: #fff;
}

.step-box-item {
    margin-bottom: 24px;
    .ant-input {
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.45);
        background: var(--gray-8, #161617);
        width: 480px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
}
.step-box-item-title {
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
}
.step-box-item-content {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    opacity: 0.6;
}
.step-box-item-sub-title {
    display: inline-block;
    color: rgba(255, 255, 255, 0.45);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 11px;
}

.step-box-item-tips {
    width: 480px;
    color: rgba(255, 255, 255, 0.45);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
